.container {
  background: #041b2d;

  /*/* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(to top, rgba(4, 27, 45, 1), rgba(0, 78, 154, 1));*/

  /*/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(to top, rgba(4, 27, 45, 1), rgba(0, 78, 154, 1));*/
  padding: 0 2rem;
}

#portrait {
  border-radius: 50%;
  border: 5px solid white;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 4rem;
  text-align: center;
}

.imageDiv {
  padding: 20px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }

  .typewriter{
    height: 200px;
  }
}

.typewriter{
  font-family: "Baloo Bhaijaan 2", cursive;
  color: white;
}

@media (min-width: 1000px) {
  .typewriter {
    width:750px;
    height: 50px;
  }
}